AddDefaultCharset utf-8

Options +FollowSymLinks
RewriteEngine On
DirectoryIndex public/index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . public/index.php [L]
RewriteCond %{REQUEST_URI} ^/index.php
